In [1]:
%load_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT        = config.get("CLUSTER","HOST")
DWH_DB_USER         = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD     = config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT         = config.get("CLUSTER","DB_PORT")
DWH_DB_NAME         = config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN        =config.get("IAM_ROLE", "ARN")

LOG_DATA            = config.get("S3", "LOG_DATA")
LOG_JSONPATH        = config.get("S3", "LOG_JSONPATH")
SONG_DATA           = config.get("S3", "SONG_DATA")

KEY                 = config.get('AWS','KEY')
SECRET              = config.get('AWS','SECRET')
REGION_NAME         = config.get('AWS', 'REGION_NAME')

In [3]:
import boto3

s3 = boto3.resource('s3',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [4]:
#connecting to the cluster
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://awsuser:AWS2505user@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [7]:
#Create Tables
!python3 create_tables.py

INFO:root:Dropping all tables...
INFO:root:Creating tables...
INFO:root:Connection closed.
INFO:root:Job finished.

In [8]:
#Retrieve distinct table names from the public schema in the database.
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [9]:
#load data from S3 into staging tables and then into final tables on Redshift.
!python3 etl.py

INFO:root:Loading data into staging tables...
INFO:root:Inserting data into final tables...
INFO:root:Connection closed.
INFO:root:Job finished.

In [10]:
#SELECT a limited number of records from the staging_events table
%sql  * FROM staging_events LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', '1541033612796', 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', '1540708070796', 82, None, 200, 1541122176796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', 82, 'I Have A Wish', 200, 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', '1540006905796', 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66)]

In [11]:
#SELECT a limited number of records from the staging_songs table
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('ARJNIUY12298900C91', None, '', None, 'Adelitas Way', 213.9424, 1, 'SOBLFFE12AF72AA5BA', 'Scream', 2009),
 ('ARSVTNL1187B992A91', 51.50632, 'London, England', -0.12714, 'Jonathan King', 129.85424, 1, 'SOEKAZG12AB018837E', "I'll Slap Your Face (Entertainment USA Theme)", 2001),
 ('ARXR32B1187FB57099', None, '', None, 'Gob', 209.60608, 1, 'SOFSOCN12A8C143F5D', 'Face the Ashes', 2007),
 ('ARZ5H0P1187B98A1DD', 33.76672, 'Long Beach, CA', -118.1924, 'Snoop Dogg', 230.42567, 1, 'SOAPERH12A58A787DC', 'The One And Only (Edited)', 0),
 ('AR1KTV21187B9ACD72', 34.05349, 'California - LA', -118.24532, 'Cristina', 343.87546, 1, 'SOSMJFC12A8C13DE0C', 'Is That All There Is?', 0)]

In [12]:
#SELECT a limited number of records from the songplays table
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(3, datetime.datetime(2018, 11, 20, 17, 46, 38), 49, 'paid', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 758, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (7, datetime.datetime(2018, 11, 26, 18, 25, 34), 92, 'free', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', 938, 'Palestine, TX', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (11, datetime.datetime(2018, 11, 13, 22, 39, 39), 55, 'free', 'SOXQYSC12A6310E908', 'AR0L04E1187B9AE90C', 415, 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (15, datetime.datetime(2018, 11, 11, 18, 53, 36), 16, 'free', 'SOKNMJE12A67AE0421', 'ARPD2KK1187B9B8B98', 446, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (19, datetime.datetime(2018, 11, 21, 21, 17, 19), 49, 'paid', 'SOSYMSX12A6310DFE2', 'ARH6W4X1187B99274F', 816, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [13]:
#SELECT a limited number of records from the users table
%sql SELECT * FROM users LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(83, 'Stefany', 'White', 'F', 'free'),
 (89, 'Kynnedi', 'Sanchez', 'F', 'free'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free')]

In [14]:
#SELECT a limited number of records from the songs table
%sql SELECT * FROM songs LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOIGICF12A8C141BC5', 'Game & Watch', 'AREWD471187FB49873', 2004, 580.54485),
 ('SONHGLD12AB0188D47', 'Our Father', 'AR1S3NH1187B98C2BC', 1999, 202.4224),
 ('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', 2004, 207.77751),
 ('SOAFBKM12AB01837A7', 'Brain Dead', 'ARL14X91187FB4CF14', 1995, 94.22322),
 ('SOINBCU12A6D4F94C0', 'Human Cannonball', 'ARV1JVD1187B9AD195', 1995, 190.48444)]

In [15]:
#SELECT a limited number of records from the artists table
%sql SELECT * FROM artists LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('ARZ5H0P1187B98A1DD', 'Snoop Dogg', 'Long Beach, CA', 33.76672, -118.1924),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', None, None),
 ('AR35RMH1187FB4A865', 'Eumir Deodato', 'Rio de Janeiro', -22.97673, -43.19508),
 ('ARFVYJI1187B9B8E13', 'Pearl Jam', 'Seattle, WA', 47.60356, -122.32944),
 ('ARKUI581187B9A6856', "Herman's Hermits", 'Manchester, England', 53.4796, -2.24881)]

In [16]:
#SELECT a limited number of records from the time table
%sql SELECT * FROM time LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-2.cuyrxfmt4eat.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 26, 18, 25, 34), 18, 26, 48, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 11, 18, 53, 36), 18, 11, 45, 11, 2018, '0'),
 (datetime.datetime(2018, 11, 19, 8, 32, 12), 8, 19, 47, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 28, 22, 32, 42), 22, 28, 48, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 23, 6, 15, 22), 6, 23, 47, 11, 2018, '5')]